# Next.js
05_APP/tecnologia-app/.next/
05_APP/tecnologia-app/out/
05_APP/tecnologia-app/node_modules/

# Sistema
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Env locali
*.env.local
*.env.*.local

# Log
npm-debug.log*
yarn-debug.log*
